/* line 2, /home/nader/systemshack/src/style.scss */
* {
  font-family: 'Acme', sans-serif;
}

/* line 5, /home/nader/systemshack/src/style.scss */
body {
  background: #fff;
  margin-left: 52px;
}

/* line 11, /home/nader/systemshack/src/style.scss */
#header {
  margin-top: 10px;
  text-align: center;
  color: #000;
  display: block;
}

/* line 17, /home/nader/systemshack/src/style.scss */
#header h1, #header h2, #header h3 {
  float: left;
  z-index: 4;
  max-width: 300px;
  margin-right: 10%;
  margin: 0 auto;
  float: right;
  padding-left: 5px;
  padding-top: 30px;
}

/* line 28, /home/nader/systemshack/src/style.scss */
#header img {
  max-height: 250px;
  max-width: auto;
  margin: 0 auto;
  z-index: 4;
  margin-left: 0px;
  margin-right: 5%;
}

/* line 41, /home/nader/systemshack/src/style.scss */
#sidenav {
  position: fixed;
  top: 0px;
  left: 0px;
  background: #000000;
  height: 100%;
  width: 52px;
}

/* line 48, /home/nader/systemshack/src/style.scss */
#sidenav img {
  max-height: 40px;
  max-width: 40px;
}

/* line 52, /home/nader/systemshack/src/style.scss */
#sidenav div {
  display: block;
  max-width: 40px;
  margin-top: 10px;
  margin-left: 5px;
  color: #fff;
}

/* line 60, /home/nader/systemshack/src/style.scss */
#footer {
  height: 120px;
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  background: black;
  margin-top: 100px;
  color: #fff;
}

/* line 70, /home/nader/systemshack/src/style.scss */
#caros {
  background: #fff;
  float: left;
  display: block;
  height: 400px;
  width: 100%;
  margin-top: 10px;
}

/* line 78, /home/nader/systemshack/src/style.scss */
.caro {
  background: #fff;
  color: #fff;
  font-size: 30px;
  text-align: left;
}

/* line 83, /home/nader/systemshack/src/style.scss */
.caro h1, .caro h3, .caro h2, .caro h4 {
  margin-left: 5%;
  max-width: 400px;
}

/* line 89, /home/nader/systemshack/src/style.scss */
#car1 {
  background: url("./src/imgs/car1bg.jpg.jpg") no-repeat fixed;
  text-align: center;
}

/* line 92, /home/nader/systemshack/src/style.scss */
#car1 h1, #car1 h2, #car1 h3, #car1 h4 {
  max-width: 600px;
}

/* line 96, /home/nader/systemshack/src/style.scss */
#car2 {
  background: url("./src/imgs/car2.jpg") fixed;
}

/* line 99, /home/nader/systemshack/src/style.scss */
#car3 {
  background: url("./src/imgs/carBG.jpg") fixed;
}

/* line 102, /home/nader/systemshack/src/style.scss */
#car4 {
  color: #000;
  background: #fff;
  text-align: left;
  height: 400px;
}

/* line 107, /home/nader/systemshack/src/style.scss */
#car4 h1, #car4 h3, #car4 h2, #car4 h4 {
  max-width: 800px;
}

/* line 112, /home/nader/systemshack/src/style.scss */
#car4 img {
  float: right;
  margin-right: 5%;
  position: relative;
  z-index: -4;
}

/* line 120, /home/nader/systemshack/src/style.scss */
#contactform {
  margin-left: 20%;
  margin-top: 20px;
  width: 50%;
  display: block;
  transform: translate(0, 30px);
}

/* line 126, /home/nader/systemshack/src/style.scss */
#contactform h1, #contactform h2, #contactform h3, #contactform h4 {
  margin-top: 40px;
}

/* line 129, /home/nader/systemshack/src/style.scss */
#contactform input, #contactform textarea {
  padding: 5px;
}

/* line 132, /home/nader/systemshack/src/style.scss */
#contactform [type="text"] {
  display: block;
  float: left;
}

/* line 135, /home/nader/systemshack/src/style.scss */
#contactform [type="text"]:focus {
  box-shadow: 2px 2px 4px #000,-2px -2px 4px #000;
}

/* line 139, /home/nader/systemshack/src/style.scss */
#contactform [type="email"] {
  display: block;
  float: left;
}

/* line 143, /home/nader/systemshack/src/style.scss */
#contactform [type="email"]:focus {
  box-shadow: 2px 2px 4px #000,-2px -2px 4px #000;
}

/* line 147, /home/nader/systemshack/src/style.scss */
#contactform [name="message"] {
  display: block;
  width: 100%;
  float: left;
}

/* line 152, /home/nader/systemshack/src/style.scss */
#contactform [name="message"]:focus {
  box-shadow: 2px 2px 4px #000,-2px -2px 4px #000;
}

/* line 157, /home/nader/systemshack/src/style.scss */
#footer {
  text-align: center;
}

/*# sourceMappingURL=../style.map */