/* line 2, /home/nader/systemshack/src/style.scss */
* {
  font-family: 'PT Sans', sans-serif;
}

/* line 5, /home/nader/systemshack/src/style.scss */
body {
  background: #fff;
  margin-left: 55px;
}

/* line 11, /home/nader/systemshack/src/style.scss */
#header {
  margin-top: 10px;
  text-align: center;
  color: #000;
  display: block;
}

/* line 17, /home/nader/systemshack/src/style.scss */
#header h1, #header h2, #header h3 {
  float: left;
  z-index: 4;
  max-width: 300px;
  margin-right: 10%;
  margin: 0 auto;
  float: right;
  padding-left: 5px;
  padding-top: 30px;
}

/* line 28, /home/nader/systemshack/src/style.scss */
#header img {
  max-height: 250px;
  max-width: auto;
  margin: 0 auto;
  z-index: 4;
  margin-left: 0px;
  margin-right: 5%;
}

/* line 41, /home/nader/systemshack/src/style.scss */
#sidenav {
  position: fixed;
  top: 0px;
  left: 0px;
  background: #000000;
  height: 100%;
  width: 55px;
}

/* line 48, /home/nader/systemshack/src/style.scss */
#sidenav div {
  color: black;
}

/* line 54, /home/nader/systemshack/src/style.scss */
.el-carousel__item h3 {
  margin: 0;
}

/* line 59, /home/nader/systemshack/src/style.scss */
.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

/* line 63, /home/nader/systemshack/src/style.scss */
.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}

/* line 66, /home/nader/systemshack/src/style.scss */
#caros {
  background: #fff;
  float: left;
  display: block;
  height: 400px;
  width: 100%;
  margin-top: 10px;
}

/* line 74, /home/nader/systemshack/src/style.scss */
.caro {
  background: #fff;
  color: #fff;
  font-size: 30px;
  text-align: left;
}

/* line 79, /home/nader/systemshack/src/style.scss */
.caro h1, .caro h3, .caro h2, .caro h4 {
  margin-left: 5%;
  max-width: 400px;
}

/* line 85, /home/nader/systemshack/src/style.scss */
#car1 {
  background: url("./src/imgs/car1bg.jpg.jpg") no-repeat fixed;
  text-align: center;
}

/* line 88, /home/nader/systemshack/src/style.scss */
#car1 h1, #car1 h2, #car1 h3, #car1 h4 {
  max-width: 600px;
}

/* line 92, /home/nader/systemshack/src/style.scss */
#car2 {
  background: url("./src/imgs/car2.jpg") fixed;
}

/* line 95, /home/nader/systemshack/src/style.scss */
#car3 {
  background: url("./src/imgs/carBG.jpg") fixed;
}

/* line 98, /home/nader/systemshack/src/style.scss */
#car4 {
  color: #000;
  background: #fff;
  text-align: left;
  height: 400px;
}

/* line 103, /home/nader/systemshack/src/style.scss */
#car4 h1, #car4 h3, #car4 h2, #car4 h4 {
  max-width: 800px;
}

/* line 108, /home/nader/systemshack/src/style.scss */
#car4 img {
  float: right;
  margin-right: 5%;
  position: relative;
  z-index: -4;
}

/* line 116, /home/nader/systemshack/src/style.scss */
#contactform {
  margin-left: 20%;
  margin-top: 20px;
  width: 50%;
  display: block;
  transform: translate(0, 30px);
}

/* line 122, /home/nader/systemshack/src/style.scss */
#contactform h1, #contactform h2, #contactform h3, #contactform h4 {
  margin-top: 40px;
}

/* line 125, /home/nader/systemshack/src/style.scss */
#contactform input, #contactform textarea {
  padding: 5px;
}

/* line 128, /home/nader/systemshack/src/style.scss */
#contactform [type="text"] {
  display: block;
  float: left;
}

/* line 131, /home/nader/systemshack/src/style.scss */
#contactform [type="text"]:focus {
  box-shadow: 2px 2px 4px #000,-2px -2px 4px #000;
}

/* line 135, /home/nader/systemshack/src/style.scss */
#contactform [type="email"] {
  display: block;
  float: left;
}

/* line 139, /home/nader/systemshack/src/style.scss */
#contactform [type="email"]:focus {
  box-shadow: 2px 2px 4px #000,-2px -2px 4px #000;
}

/* line 143, /home/nader/systemshack/src/style.scss */
#contactform [name="message"] {
  display: block;
  width: 100%;
  float: left;
}

/* line 147, /home/nader/systemshack/src/style.scss */
#contactform [name="message"]:focus {
  box-shadow: 2px 2px 4px #000,-2px -2px 4px #000;
}

/*# sourceMappingURL=../style.map */